<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="~/content/site.css" rel="stylesheet" />
</head>
<body>
  <nav id="mainNav" class="" onscroll="return myFunction();">
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a asp-controller="Home" asp-action="Index" class="navbar-brand logo">BeDazzled</a></li>
          <li><a asp-controller="Home" asp-action="Index" class="logo">Home</a></li>
          <li><a asp-controller="About" asp-action="Index" class="logo">This About</a></li>
          <li><a asp-controller="Feedback" asp-action="Index" class="logo">ContactUs</a></li>
          <li><a asp-controller="AddItem" asp-action="Index" class="logo">Add New Item</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container body-content">
  <div class="row">
    @RenderBody()
  </div>
</div>
<script type="text/javascript" src="~/js/main.js"></script>
</body>
</html>
